Hey <%= @user.firstname %> <%= @user.lastname %>,<br/>
<br/>
Du oder jemand anderes hat gerade ein neues Passwort für Dein Konto angefordert.<br/>
<br/>
Hier ist Dein temporäres Passwort, mit dem Du dich neu anmelden kannst:<br/>
<div align="center" style="font-size:32px;font-weight:bold; border:1px solid grey;border-radius:20px; padding: 7px; margin: 15px;"><%= @user.password %></div>
<br/>
Bitte ändere das Passwort in Deinem Profil.<br/>
Solltest Du das Passwort nicht neu angefordert haben, melde Dich bitte umgehend bei uns!<br/>
<br/>
Vielen Dank<br/>
